[Desktop Entry]
Name=Eclipse
Comment=IDE używane podczas kursu w CodersLab
Exec=/opt/eclipse/eclipse
Icon=/opt/eclipse/icon.xpm
Terminal=false
Type=Application
StartupNotify=true
Categories=Utility;Application
